*{
    padding: 0;
    margin: 0;
}
body{
    background-color: red;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(221, 0, 0);
    display: flex;
}
#icon{
    width: 60px;
}
h4{
    margin-top: 25px;
    margin-left: 5px;
}

li{
    display: inline-block; 
    margin-top: 2.5%;
    padding: 0 60px;
    margin-left: 70px;
}
a {
    color: rgb(0, 0, 0);
    
}
a:hover {
    color: blue;
}
a:link{
    text-decoration: none;
}
h1{
    text-align: center;
    margin-top: 3%;
    color: rgb(18, 1, 71) ;
    text-shadow: 0.1em 0.1em #b00606af;
    font-size: 50px;
}
.grande{
    display: flex;
    flex-wrap: wrap;
    gap: 430px;
    margin-left: 13%;
    margin-top: 4%;
}

.d img{
    width: 90%;
}
.a:hover,.b:hover,.c:hover,.d:hover,.e:hover, .f:hover,.g:hover,.h:hover,.i:hover,.j:hover {
    background-image: linear-gradient(#e80b0b, #1010a0);
}
.h{
    width: 30%;
}