.NÃO {
    margin: -1%;
    width: 101.5%;
    right: 100px;
}

li {
    display: inline-block;
    margin: 39px;
}

.Menu {
    position: absolute;
    margin: -6.5%;
    margin-block-end: auto;
    left: 555px;
}

a {
    color: aliceblue;
}
a:hover {
    color: red;
}

main {
    margin: 5%;
}

table{
    width: 100%;
    font-size: 30px;
    
  }

table img {
    text-align: right ;
    width: 60%;
    height: 60%
}

table th {
   color: red;
   font-size: 200%;
   text-align: left;
}